langchain
langchain-community
langchain-openai
langchain-anthropic
langchain-llama-index
langchain-together
langchain-ollama
streamlit
docker
typer
openai
ollama
pydantic
pydantic-settings
python-dotenv
requests
httpx
